.selected{
 height: 100px;
 box-shadow: 0px 0px 0px 5px $red;
}

ul.thumbnails.image_picker_selector li {
  margin: 20px 12px 12px 50px;
  .thumbnail{
   border: none;

   height: 100px;
   overflow: hidden;

   padding: 0px;
   margin: 10px;
   position: relative;
 }
}

.thumbnail > img, .thumbnail a > img {
 height: 100px;
}

.thumbnails {
  list-style: none;
}

.thumbnail {
  p {
    position: absolute;
    bottom: 15%;
    color: white;
    text-align: center;
    width: 100px;
  }
}

.header-content {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  img {
    width: 100px;
    height: auto;
  }
}

.game-form {
  width: 600px;
  margin: 10px auto;
}

.form-actions {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}