<div class="game-form">
  <%= simple_form_for @game, url: account_games_path do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit class: "btn btn-primary" %>
  <% end -%>
</div>